.ag-body-is-locked {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.ag-curtain {
  background-color: #333333;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ag-curtain-is-shown {
  opacity: 1;
  pointer-events: auto;
}

.ag-dialog {
  background-color: #F5F5F5;
  background-color: rgba(245,245,245,1);
  border-radius: 0.3em;
  box-shadow: 0 5px 10px #333333;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
  box-sizing: border-box;
  height: 80vh;
  left: 50%;
  opacity: 0;
  overflow-y: scroll;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-200%);
  transition: 0.3s 0.3s all ease-in-out;
  width: 80%;
  z-index: 2000;
}

.ag-dialog-is-shown {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-50%);
}
